.Navbar{
    display: flex;
    width: 100vw;
    padding: 3vh 5vw;
    z-index: 999;
    gap: 23vw;
}
.Links{
  
        display: flex;
        gap: 3vw;
}
.Link {
    width: max-content;
    font-size: 2vw;
    font-weight: bold;
    color: var(--white) !important;
    text-decoration: none;
}
.Tools{
    display: flex; gap: 2vw; align-items: center;
}