@mixin Flex {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

@mixin FlexC {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

@mixin bc($B, $C) {
  background: var($B) !important;
  color: var($C) !important;
}

@mixin Shadow {
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);

}

@mixin Hover {
  &:hover {
    color: var(--primary);
    background-color: var(--secondary);
  }
}

@mixin devices ($breakpoint) {

  @if $breakpoint == laptop {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  

  @if $breakpoint == Taplet {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }
    
  @if $breakpoint == mobile {
    @media only screen and (max-width: 424px) {
      @content;
    }
  }

   
}
