:root {
    --primary: hsl(223deg 43% 48%);
    --secondary: #597e5b;
    --text: #332d2d;
    --bg: white;
    --shadow: rgba(0, 0, 0, 0.15);
    --white: white;
    --black:black;


}

// :root:has(.dark) {
    
// }