.Home_RightSec{ height: 33vw;  transform: translateY(-8vh); z-index: 9999; }

  
.Home_LeftSec{
    color: var(--white); 
    width: fit-content;

    .LeftSec_Top{
        
      h3{
        font-weight: bold;             font-size: 1.3vw;


      }
        h2{
              font-weight: bolder; color: var(--black); font-size: 5vw;
              line-height: 5vh;

              
        }
        h1{
            font-weight: bold;
            font-size: 4vw;
            width: max-content;

       }
    }
    .LeftSec_Mid{
        margin: 15px 0;
        h6{
            text-transform: lowercase;
            font-size: 1.2vw;
            width: 80%;
            word-spacing: 7px;
        }
    }
    .LeftSec_Down{
        width: max-content;
        button{
            text-align: center;
            padding: .4vw .2vw;
             margin: 1vw 0; border: none; width: 10vw; font-weight: bold;
            border-radius: 5px; color: var(--primary);
            font-size: 1.2vw;
        }
        .BtnOut{
            background-color: transparent; border: .34vw solid var(--white);
            padding: .1vw; color: var(--white);
            margin: 0px 3vw;
        }
    }

}

