.Home_Mid{
    @include Flex;
    gap: 70px;
    .Mid_Item{
        font-size: 1.7vw;
        font-weight: bold;
        @include FlexC;

    }
    .Mid_Item_Num{
        color: var(--primary);
        font-weight: 950;

    }
}

@include devices(Taplet){
   
  
}